#beachResult{
  display: none;
  text-align: center;
}

#shackResult{
  display: none;
  text-align: center;
}

#forestTempleResult{
  display: none;
  text-align: center;
}

#apartmentResult{
  display: none;
  text-align: center;
}

#question2{
  display: none;
}

#question3{
  display: none;
}

#question4{
  display: none;
}

#question5{
  display: none;
}

#quiz {
  max-width: 500px;
}

.next {
  color: #0198E1;

}

.header {
  max-width: 100%;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 80px;
  padding-left: 100px;
  text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

#content{
  margin-top: 100px;
  padding-top: 40px;
  background-color: white;
}

li:hover {
  text-decoration:underline;
  cursor: pointer;
}

.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 300px;
}

body {
  background-image: url("../img/background.jpg");
}
